:root {
    --base-font-colour: #272727;
    --light-font-colour: #ccc;
    --clipart-opacity: .9;
    --bellini-colour: rgba(221, 154, 116, var(--clipart-opacity));
}

* {
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    color: var(--base-font-colour);
    margin: 0;
    padding: 0;
}

*::selection {
    background-color: var(light-font-colour);
}

/* Make hovering over nav items "flashy" */
nav>a:hover {
    opacity: .6;
}

body, html {
    height: 100vh;
    width: 100vw;
    font-size: 16px;
    overflow-x: hidden;
    overflow-y: scroll;
    overscroll-behavior: contain;
    -ms-overflow-style: none;
    scrollbar-width: none;
    position: fixed;

    /* Background gradient */
    background: linear-gradient(180deg, #ffc9db 0%, #ffffff 100%);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}

/* Ensure background gradient also covers navbar and footer. */
.background {
    background-color: transparent;
}

/* Lighten up button texts to match gradient */
button.site-button {
    color: #ffc9db;
}

/* Overrides default styling on transistor. */
.container {
    max-width: 1200px;
}

/* Ensure logo always shows up, even when screen is overlayed. */
.header__logo {
    z-index: 101;
}

.show {
    top: 0;
    left: 0;
    right: 0;
    position: fixed !important;
    display: flex !important;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: -2rem;
    padding: 8px 16px !important;
    height: 110dvh;
    width: 100dvw;
    animation: fade-in 0.3s ease-in forwards;
    z-index: 100;
}

.show>a {
    font-size: 32px;
}

#navClose {
    top: 72px;
    right: 26px;
    position: absolute;
}

h2 {
  text-decoration: solid underline var(--base-font-colour) 3px;
}

/* Hero header one liner. */
div>strong {
    font-size: 3rem;
  }
 
.about-custom {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: 1rem 5rem;
    font-size: 1.1em;
}

.about-custom:first-child {
    margin-top: 0;
}

.about-custom:last-child {
    margin-bottom: 5rem;
}

.sub:not(:first-child) {
        margin: 4rem auto;
}

.schnauzers-section {
    margin-bottom: 8rem;
}

/* Give some breathing room between profile pic and Your Host header. */
.sub>h2 {
    margin-bottom: 4rem;
}

.story {
    padding: 1rem 4rem;
}

/* All direct children of div with story class. */
.story>* {
    margin: 1rem 0;
}

/* h2 elements that are direct children of divs. */
div>h2 {
    font-size: 3rem;
    margin-bottom: 0;
}

/* h3 elements that are direct children of divs. */
div>h3 {
    text-align: center;
}

.profile-pic-wrapper {
    position: relative;
    top: 0;
    left: 0;
}

/* Give our names space to breathe from the paw print. */
.profile-pic-wrapper + h3 {
    margin-top: 1rem;
}

.pic {
    position: relative;
    top: 0;
    left: 0;
    border-radius: 100px;
    min-height: 200px;
    min-width: 200px;
    max-height: 200px;
    max-width: 200px;
}

.paw-pic {
    position: absolute;
    top: -70px;
    left: -65px;
    min-width: 315px;
    min-height: 315px;
    opacity: var(--clipart-opacity);
    transform: rotate(-20deg);
    z-index: -1;
}

.doggo-pic {
    border: 5px solid var(--bellini-colour);
    padding: 10px;
}

.profiles {
    max-width: 95%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    row-gap: 2rem;
}

.info_card {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    row-gap: 1rem;
    align-items: center;
    padding: 1rem 2rem;
    max-width: 30%;
}

.site-newsletter>h3 {
    text-align: left;
}

input[type=text] {
   border-width: 3px;
   border-radius: 100px;
   border-color: var(--bellini-colour);
}

input[type=text]:focus {
    opacity: 1;
}

.icon {
    max-height: 60px;
    max-width: 60px;
}
  
.icon:hover {
    opacity: .6;
}

/* Hacky, closes gap between large margins set by parent elements */
.escape-margin {
    margin-top: -1.25rem;
}

/* For mobile phones */
@media only screen and (max-width: 820px) {
    * {
        font-size: 1.1rem;
    }

    div>strong {
        font-size: 1.25rem;
    }

    .about-custom {
        font-size: 2em;
        margin: .75rem 1rem;
    }

    .story-section {
         margin-top: 0 !important;
    }

    .escape-header-margin {
        margin-bottom: 0 !important;
     }

    .story {
        width: 100%;
        padding: .1rem 0;
    }

    .info_card {
        min-width: 95%;
    }
}

@keyframes fade-in {
  0% {
    opacity: 0;
    display: none;
    padding-top: 32px;
  }

  100% {
    opacity: 1;
    display: block;
    padding-top: 0;
  }
}
